.convertForm {
  padding: 15px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
}

.formContainer {
  margin: 10px 0 30px 0;
}

.selection {
  display: flex;
  justify-content: center;
}

.from, .to {
  margin: 5%;
}

.formTitle {
  font-size: clamp(0.8rem, calc(1.3rem + 1.8vw), 3.0rem);
}

.dropdown {
  padding: 5px;
  margin: 0 2%;
  font-size: clamp(0.5rem, calc(0.5rem + 1.0vw), 1.2rem);
  border: 1px solid #afafaf;
  border-radius: 10px;
}

.downloadForm {
  text-align: center;
  margin: 30px 0;
}

.message {
  margin-bottom: 20px;
}